# Supabase project configuration
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=gallery
SUPABASE_GALLERY_TABLE=gallery_images

# Admin auth
ADMIN_JWT_SECRET=
ADMIN_JWT_ISSUER=nextjs_backend_admin
ADMIN_PASSWORD=
